
@{
    ViewBag.Title = "Facturar Servicio";
}
<div class="container">
    <div class="jumbotron">
        <h2>@this.ViewBag.Title</h2>
        <p>Facturación de servicios</p>
        <input type="button" name="btnCrearFactura" id="btnCrearFactura" value="Nueva Factura" class="btn btn-success" />
    </div>
    <div class="row">
        <center>
            <div id="divFormulario">
                <form action="/" method="post">
                    <div class="form-group">
                        <label>Cliente</label>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>

