
@{
    ViewBag.Title = "País Eliminado";
}

@{
    if (Convert.ToBoolean(this.Session["Logueado"]) == false)
    {
        Response.Redirect("http://localhost:64943/");
    }
}

<div class="jumbotron">

    <h2>@ViewBag.Title</h2>
    <a href="~/Pais/MostrarListaPaises">Volver a lista de paises</a>
</div>


