
@{
    ViewBag.Title = "Vehiculo Eliminado satisfactoriamente";
}
@{
    if (Convert.ToBoolean(this.Session["Logueado"]) == false)
    {
        Response.Redirect("http://localhost:64943/");
    }
}
<div class="jumbotron">
    <center>
        <h1>@ViewBag.Title</h1>
        <a href="~/Vehiculo/MostrarVevhiculos">Regresar</a>
    </center>
</div>


