@section CSS{
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Lista de Vehiculos Registrados";
}

<div class="jumbotron">
    <center>
        <h1>@ViewBag.Title</h1>
    </center>
</div>

<div class="container">
    <form action="MostrarVevhiculos" method="post">
        <div class="form-group">
            <center>
                <input type="text" name="C_PLACA" id="C_PLACA" placeholder="Ingrese el número de placa" value="" class="form-control" />
            </center>
        </div>
        <div class="form-group">
            <center>
                <input type="submit" name="btnConsultar" id="btnConsultar" value="Consultar" class="btn btn-success form-control" />
            </center>
        </div>
    </form>
    <br />
    <div id="divListaVehiculos">

    </div>
</div>


@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/ScriptGenerico.js"></script>
    <script src="~/Scripts/RegistroVehiculo/RegistrarVehiculo.js"></script>
}
