
@{
    ViewBag.Title = "RegistraVehiculo";

}
@{
    if (Convert.ToBoolean(this.Session["Logueado"]) == false)
    {
        Response.Redirect("http://localhost:64943/");
    }
}
<div class="container">

    <div class="main">
        <div class="titulo">
            <div class="jumbotron">
                <center><h2>Registro de Vehiculos</h2></center>
            </div>
        </div>
        <section class="formulario">
            <center>
                <form id="frmRegistraVehiculo" action="RegistraVehiculoDB" method="post">

                    <div class="form-group">
                        <label class="control-label">Placa del Vehiculo:</label>
                        <input type="text" name="C_PLACA" id="C_PLACA" placeholder="Número de placa" value="" class="form-control"
                               title="Ingreso de número e placa" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Cantidad de Puertas del Vehiculo:</label>
                        <input type="text" name="C_CANT_PUERTAS" id="C_CANT_PUERTAS" placeholder="Cantidad de puertas" value="" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Cantidad de Ruedas del Vehiculo:</label>
                        <input type="text" name="C_CANT_RUEDAS" id="C_CANT_RUEDAS" placeholder="Cantidad de ruedas" value="" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Año del Vehiculo:</label>
                        <input type="text" name="C_YEAR" id="C_YEAR" placeholder="Año" value="" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <select name="C_ID_TIPO_VEHICULO" id="C_ID_TIPO_VEHICULO" class="form-control">
                            <option value="">Seleccione un Tipo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Pais Fabricante</label>
                        <select name="Pais" id="Pais" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label>Fabricante</label>
                        <select name="Fabricante" id="Fabricante" class="form-control">
                            <option value="">Seleccione un Fabricante</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Tipo de Marca</label>
                        <select name="C_ID_MARCA" id="C_ID_MARCA" class="form-control">
                            <option value="">Seleccione una Marca</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Tipo de Modelo</label>
                        <select name="C_ID_MODELO" id="C_ID_MODELO" class="form-control">
                            <option value=" ">Seleccione un Modelo</option>
                        </select>
                    </div>
                    <div class="bottom">
                        <input type="submit" name="btnRegistrar" id="btnRegistrar" value="Registrar" class="btn btn-success" />
                        <input type="reset" name="btnLimpiar" id="btnLimpiar" value="Limpiar" class="btn btn-primary" />
                    </div>

                </form>
            </center>
        </section>
    </div>

</div>
@Html.ValidationSummary(true)
@section Scripts{
    <script src="~/Scripts/ScriptGenerico.js"></script>
    <script src="~/Scripts/RegistroVehiculo/RegistrarVehiculo.js"></script>

}