
@{
    ViewBag.Title = "Cliente Eliminado satisfactoriamente";
}

    <div class="jumbotron">
        <center>
            <h1>@ViewBag.Title</h1>
            <a href="~/Views/Cliente/MostrarCliente">Regresar</a>
        </center>
    </div>