
@section CSS{
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Reportes Servicio Cliente";
}

@{
    if (Convert.ToBoolean(this.Session["Logueado"]) == false)
    {
        Response.Redirect("http://localhost:64943/");
    }
}
<div class="container">
    <div class="jumbotron">
        <h1>@this.ViewBag.Title</h1>
        <p>Reportes de los servicios dados a los clientes</p>
    </div>

    <div id="divListaServicios">

    </div>
    <div class="row">
        <div class="col-sm-8">
            <div id="divAlertaElimina" class="alert alert-success">
                <label id="lblElimina"></label>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>

<div class="container">
    <h2>Reportes de Servicio Clientes</h2>
    <div class="form-group">
        <label>Cliente</label>
        <select class="form-control" name="cliente" id="cliente"></select>
    </div>

    <input type="button" class="btn btn-success" name="btnConsultar" id="btnConsultar" value="Consultar Cliente" form="frmReportes_Servicios" />
   

    <!-- The Modal -->
    <div class="modal fade" id="myModal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reporte de Servicios a clientes</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <center>
                        <form id="frmReportes_Servicios" action="/" method="post">
                            <div class="form-group">
                                <label>Cliente</label>
                                <select class="form-control" name="cliente" id="cliente"></select>
                            </div>

                            <div class="form-group">
                                <div id="AlertaExito" class="alert alert-success">
                                    <label id="lblMensaje"></label>
                                </div>
                            </div>
                        </form>
                    </center>
                </div>

            </div>
        </div>
    </div>

</div>

@Html.ValidationSummary(true)
@section Scripts{

    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/ScriptGenerico.js"></script>
    <script src="~/Scripts/Reportes/Reporte_ServicioCliente.js"></script>
    }