
@section CSS{
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Reportes Vehiculo Cliente";
}

@{
    if (Convert.ToBoolean(this.Session["Logueado"]) == false)
    {
        Response.Redirect("http://localhost:64943/");
    }
}
<div class="container">
    <div class="jumbotron">
        <h1>@this.ViewBag.Title</h1>
        <p>Reportes de los vehiculos dados a los clientes</p>
    </div>

    <div id="divListaVehiculos">

    </div>

</div>

<div class="container">
    <h2>Reportes de Vehiculo Clientes</h2>
    <div class="form-group">
        <label>Cliente</label>
        <select class="form-control" name="cliente" id="cliente"></select>
    </div>

    <input type="button" class="btn btn-success" name="btnConsultar" id="btnConsultar" value="Consultar Cliente" form="frmReportes_Vehiculos" />
</div>

@Html.ValidationSummary(true)
@section Scripts{

    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/ScriptGenerico.js"></script>
    <script src="~/Scripts/Reportes/Reporte_VehiculoCliente.js"></script>
}